/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

:root, [data-theme=light] {
    --bg: #FFFFFF;
    --secondary: #FFFFFF;
    --light: #FFFFFF;
    --light-gray-1: #f0f0f0;
    --light-gray-2: #e4e4e4;
    --gray-1: #dddddd;
    --gray-2: #bbbbbb;
    --dark: #121212; 
    --text: #000000;
    --scroll: #cccccc;
    --trans-dur: 0.3s;
    --main-dur: 0.5s;
}

[data-theme=dark] {
    --bg: #333333;
    --secondary: #181818;
    --light: #121212;
    --light-gray-1: #383838;
    --light-gray-2: #242424;
    --gray-1: #121212;
    --gray-2: #bbb;
    --dark: #121212;
    --text: #ffffff;
    --scroll: #cccccc;
    --light-red: #ff8383;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

main::-webkit-scrollbar { width: 5px; }
main::-webkit-scrollbar-track { background: transparent; }
main::-webkit-scrollbar-thumb { background-color: var(--scroll); border-radius: 48px; }
input { outline: none; }
input::placeholder {  color: var(--gray-2); }

input[readonly] {
    border: none;
    background-color: transparent;
    color: inherit;
}

nav input[readonly] { cursor: pointer; }

/* End Normalize */

/* Root */

#root {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: var(--root-grid, 20vw 1fr);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background-color: var(--light-gray-1);
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 1.2rem;
    margin-right: 5px;
}

.head-btn {
    width: 28px;
    padding: 4px;
    background-color: var(--light-gray-2);
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    color: inherit;
}

nav {
    background-color: var(--light-gray-1); 
    border-right: 1px solid var(--light-gray-2);
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 0.5s;
}


/* Header */

/* End Header */

/* Nav */


nav::-webkit-scrollbar { width: 5px; }
nav::-webkit-scrollbar-track { background: transparent; }
nav::-webkit-scrollbar-thumb { background-color: var(--scroll); border-radius: 48px; }

nav button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--light-gray-2);
    padding: 0px 10px;
    gap: 20px;
    cursor: pointer;
    color: inherit;
}

.palette { justify-content: space-between; user-select: none; }
.current-palette { background-color: var(--gray-1); }
.current-palette .actions { display: flex!important; }

nav .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-name { margin-left: 12px; width: 90%;}
nav .actions i { margin: 0 4px; }
nav .actions { display: none; }
nav button:hover .actions { display: flex; }
nav button:hover { background-color: var(--light-gray-2); }

/* Main */

main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 40px 1fr;
}

@media (max-width: 768px) { .max-nav { --root-grid: 32px 1fr;} nav { overflow-y: hidden!important; }}
.min-nav { --root-grid: 32px 1fr; };
.max-nav { --root-grid: 20vw 1fr; };