/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

:root, [data-theme=dark] {
    --primary: #121212;
    --secondary: #181818;
    --light: #FFFFFF;
    --light-gray: #DDDDDD;
    --dark: #121212;
    --light-red: #ff8383;
}

[data-theme=light] {
    --primary: #FFFFFF;
    --secondary: #FFFFFF;
    --light: #121212;
    --light-gray: #181818;
    --dark: #FFFFFF; 
}

body {
    background-color: var(--primary);
    color: var(--light);
    overflow: hidden;
}

main::-webkit-scrollbar { width: 5px; }
main::-webkit-scrollbar-track { background: transparent; }
main::-webkit-scrollbar-thumb { background-color: var(--light-gray); border-radius: 48px; }
input { outline: none; }
input::placeholder {  color: var(--light-gray); }

input[readonly] {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* End Normalize */

/* Header */

.title {
    text-align: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40px;
    margin-right: 5px;
}

.desc {
    text-align: center;
    margin-bottom: 20px;
}

/* Nav */

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 20vw 1fr;
}

@media (max-width: 1360px) {
    nav {
        display: none!important;
    };
}

@media (max-width: 1360px) {
    .container {
        grid-template-columns: 1fr!important;
    };
}

nav {
    background-color: #f0f0f0; 
    overflow-x: auto;
}

nav::-webkit-scrollbar { width: 5px; }
nav::-webkit-scrollbar-track { background: transparent; }
nav::-webkit-scrollbar-thumb { background-color: #cccccc; border-radius: 48px; }

nav button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e4e4e4;
    padding: 0px 10px;
    gap: 20px;
    cursor: pointer;
}

.palette {
    justify-content: space-between;
    user-select: none;
}

.current-palette {
    background-color: #dddddd;
}

.current-palette .actions {
    display: flex!important;
}

nav .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-name {
    margin-left: 12px;
}

nav .actions i {
    margin: 0 4px;
}

nav .actions {
    display: none;
}

nav button:hover .actions {
    display: flex;
}


nav button:hover {
    background-color: #e4e4e4;
}

/* Main */
main {
    height: 100vh;
    overflow-x: auto;
}

/* Form */
.form {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

@media (max-width: 992px) {
    .form {
        width: 90%;
    }
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light);
    background-color: var(--secondary);
    color: var(--light);
    outline: none;
}

.form input:nth-child(2) {
    border-bottom: none;
    border-top: none;
}

.create {
    outline: none;
    padding: 10px;
    width: 100%;
    background-color: var(--secondary);
    color: var(--light);
    border: 1px solid var(--light);
    cursor: pointer;
}

/* End Form */


/* Colors */
.colors {
    margin: auto;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 992px) {
    .colors {
        grid-template-columns: 1fr;
        width: 90%;
    }
}

.preview {
    height: 100px;
    width: 100%;
    border: 1px solid var(--light);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
}

.preview button {
    padding: 2px;
    width: 20px;
    cursor: pointer;
}
.preview button:first-child {
    margin-bottom: 2px;
}

.color .info {
    padding: 10px;
    border: 1px solid var(--light);
    display: flex;
    justify-content: space-between;
}

.color input[readonly] {
    background-color: transparent;
    border: none;
    color: var(--light);
}
.color input:not([readonly]) {
    background-color: var(--light);
    color: var(--dark);
    border: none;
}

.color-hex {
    text-align: end;
    margin-left: 10px;
}
/* End Colors */

.popup-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 97, 88, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.popup {
    background-color: var(--secondary);
    color: var(--light);
    padding: 20px;
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup button {
    padding: 10px;
    width: 20%;
    margin-top: 32px;
    cursor: pointer;
}
